// 源ノ角ゴシックを使用
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

/* A4縦用のベース設定 */
@page {
	size: A4 portrait;
	margin: 0mm;
}

body {
	width: 210mm;
	// -webkit-print-color-adjust: exact;
	// color-adjust: exact;
	line-height: 1.5em;

	font-family: 'Source Sans Pro', sans-serif;
}

.page {
	width: 210mm;
	height: 296.5mm;

	box-sizing: border-box;
	padding: 20mm 25mm;
	margin-bottom: -20mm;

	font-size: 11pt;

	// // オーバーフローの制御
	overflow: hidden;

	position: relative;
}

.page-number {
	position: absolute;
	bottom: 5mm;
	right: 25mm;
	font-size: 10pt;
	color: #666;
}

blockquote {
	margin: 0;
	padding: 0 1em;
	border-left: 4px solid #ccc;
}

/* 改ページ */
.page-break {
	page-break-after: always;
}

@media screen {
	body {
		background: #eee;
	}

	.page {
		background: white;
		box-shadow: 0 .5mm 2mm rgba(0, 0, 0, .3);
		margin: 5mm;
	}

	.page:last-child {
		page-break-after: avoid;
	}
}

.page-number {
	position: absolute;
}



// End of scss